.CartItemCard {
    display: flex;
    padding: 1rem;
    margin-top: 15px;
    height: 8rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: white;
  }
  .CartItemCard  img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
  }
  
  .itemQuantityBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    width: 8%;
  }

  .itemQuantity {
    margin: 0 2px;
  }

  .quantityButton > button{
    width: 25%;
    font-size: 1.5rem;
    /* margin: 5px 10px; */
    border: none;
    background: transparent;
  }
  .quantityButton > button:hover{
   cursor: pointer;
  }

  .cart-price {
    display: flex;
    flex-direction: column;
  }

  .itemName > a{
    text-decoration: none;
  }
  