.productDetail {
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.productDetail .productImg {
    height: 100%;
}

.productDetail .productImg > img{
    height: 100%;
    object-fit: contain;
}



.productDetail .product-detail {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 45%;
    justify-content: space-around;
}

.product-detail button{
    display: inline-block;
    padding: 10px 45px;
    background-color: #f3c93e;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #f3c93e;
    margin-top: 15px;
    width: 35%;
  }

.product-detail button:hover{
    cursor: pointer;
  }