.navContainer {
    background-color: #434f78;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
}

.navbar{
    /* background: rgb(35,47,62); */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 0;
}

.searchbar .__SearchBar-searchBarDiv .__SearchBar-SearchSelect{
    width: 125px;
}

.navbar .brand-name{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: auto 2rem;
    
}

.navbar .searchbar{
    margin: auto 2rem;
    width: 50%;
    display: inline-block;
}

.navbar .nav-links{
    display: flex;
    list-style-type: none;
    margin-left: 2rem;
}
.navbar .nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: azure;
    margin: auto 20px;
    
}