.navbar{
    background: rgb(35,47,62);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .brand-name{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: auto 2rem;
    
}

.navbar .searchbar{
    margin: auto 2rem;
    width: 50%;
    display: inline-block;
}

.navbar .nav-links{
    display: flex;
    list-style-type: none;
    margin-left: 2rem;
}
.navbar .nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: azure;
    margin: auto 20px;
    
}